In [1]:
import pandas as pd
import datetime as datetime

In [ ]:
import pandas as pd
df = pd.read_csv('bookings.csv', sep = ';')

In [167]:
#1
import pandas as pd
df = pd.read_csv('bookings.csv', sep = ';')
df = df.rename(columns = {
'Hotel' : 'hotel',
'Is Canceled' : 'is_canceled',
'Lead Time' :'lead_time',
'arrival full date' : 'arrival_full_date',
'Arrival Date Year' : 'arrival_date_year',
'Arrival Date Month' : 'arrival_date_month',
'Arrival Date Week Number' : 'arrival_date_week_number',
'Arrival Date Day of Month' : 'arrival_date_day_of_month',
'Stays in Weekend nights' : 'stays_in_weekend_nights',
'Stays in week nights' :'stays_in_week_nights',
'stays total nights' :'stays_total_nights',
'Adults' : 'adults',
'Children' : 'children',
'Babies' : 'babies',
'Meal' : 'meal',
'Country' : 'country',
'Reserved Room Type' :'reserved_room_type',
'Assigned room type' :'assigned_room_type',
'customer type' :'customer_type',
'Reservation Status' :'reservation_status',
'Reservation status_date' : 'reservation_status_date'})

# QUERIES
#1
get_most_popular_countries = df \
    .query("is_canceled == 0") \
    .groupby(by = ['country', 'reservation_status'], as_index = False) \
    .agg({'reservation_status' : 'count'}) \
    .rename(columns = {'reservation_status' : 'count of check-outs'}) \
    .sort_values('count of check-outs', ascending = False)[:5]
print(f'Most popular countries are \n{get_most_popular_countries}\n')

#2
av_tot_nights = df \
    .groupby(by = ['hotel']) \
    .agg({'stays_total_nights' : 'mean'}) \
    .rename(columns = {'stays_total_nights' : 'average total nights'})
print(f'Average used total nights\n{av_tot_nights}\n')

#3
diff_bw_reserv_assign = len(df[(df['reserved_room_type'] != df['assigned_room_type'])])
print(f'\nDifference between reserved and assigned bookings, total \n {diff_bw_reserv_assign}')

#4
super_month_2016 = df[df['arrival_date_year'] == 2016] \
    .query("reservation_status == 'Check-Out'") \
    .groupby('arrival_date_month') \
    .agg({'arrival_date_month' : 'count'}) \
    .idxmax()[0]
max_value_month_2016 = df[df['arrival_date_year'] == 2016] \
    .query("reservation_status == 'Check-Out'") \
    .groupby('arrival_date_month') \
    .agg({'arrival_date_month' : 'count'}).max()[0]
super_month_2017 = df[(df['arrival_date_year'] == 2017)] \
    .query("reservation_status == 'Check-Out'") \
    .groupby('arrival_date_month') \
    .agg({'arrival_date_month' : 'count'}) \
    .idxmax()[0]
max_value_month_2017 = df[df['arrival_date_year'] == 2017] \
    .query("reservation_status == 'Check-Out'") \
    .groupby('arrival_date_month') \
    .agg({'arrival_date_month' : 'count'}).max()[0]
print(f'\nMost success months in 2016 and 2017 \n {super_month_2016} ({max_value_month_2016} check-outs) and {super_month_2017} ({max_value_month_2017} check-outs)\n')

#5
cancelation_city_hotel = df[(df['hotel'] == 'City Hotel')][lambda x: x['is_canceled'] == 1] \
    .groupby(['arrival_date_year', 'arrival_date_month']) \
    .agg({'arrival_date_year' : 'count'}) \
    .rename(columns = {'arrival_date_year' : 'count of cancelation'})
print(f'\nBooking cancelation in City Hotel type \n {cancelation_city_hotel} \n')

#6
max_mean_val = df[['adults','children', 'babies']].mean().max()
type_of_guest = df[['adults','children', 'babies']].mean().idxmax()
print(f'\nThe most mean value among guests type {type_of_guest} is {max_mean_val}')

#7
df['total_kids'] = df['children'] + df['babies']
df.groupby('hotel').agg({'total_kids' : 'sum'})
av_child_booking = df[['hotel', 'total_kids']].groupby('hotel').mean().rename(columns = {'total_kids' : 'count of children per booking'})
print(f'\nAverage count of booking with children\n {av_child_booking}')

#8
df['has_kids'] = df['total_kids'] > 0
tmp = df.groupby(['is_canceled', 'has_kids'], as_index = False).agg({'has_kids' : 'count'})
ratio_cancel_without_child = (tmp['has_kids'].loc[2] / (tmp['has_kids'].loc[0] + tmp['has_kids'].loc[2])) * 100
ratio_cancel_with_child = (tmp['has_kids'].loc[3] / (tmp['has_kids'].loc[1] + tmp['has_kids'].loc[3])) * 100
print(f'\nRatio of cancelation without children {ratio_cancel_without_child.round(2)}%\n')
print(f'Ratio of cancelation with children {ratio_cancel_with_child.round(2)}%\n')

Most popular countries are
    country  count of check-outs
125     PRT                21071
57      GBR                 9676
54      FRA                 8481
50      ESP                 6391
42      DEU                 6069

Average used total nights
              average total nights
hotel
City Hotel                2.978142
Resort Hotel              4.318547


Difference between reserved and assigned bookings, total
 14917

Most success months in 2016 and 2017
 October (3689 check-outs) and May (3551 check-outs)


Booking cancelation in City Hotel type
                                       count of cancelation
arrival_date_year arrival_date_month
2015              August                              1232
                  December                             668
                  July                                 939
                  November                             301
                  October                             1321
                  September                           1543
2016              April                               1539
                  August                              1247
                  December                            1072
                  February                             930
                  January                              438
                  July                                1043
                  June                                1720
                  March                               1108
                  May                                 1436
                  November                            1360
                  October                             1947
                  September                           1567
2017              April                               1926
                  August                              1123
                  February                             971
                  January                             1044
                  July                                1324
                  June                                1808
                  March                               1278
                  May                                 2217


The most mean value among guests type adults is 1.8564033838679956

Average count of booking with children
               count of children per booking
hotel
City Hotel                         0.096311
Resort Hotel                       0.142586

Ratio of cancelation without children 37.22%

Ratio of cancelation with children 34.92%

In [68]:
df.shape
df.dtypes
df.head(7)
#df[['is_canceled', 'stays_total_nights']]
df[lambda x: x['hotel'] == 'City Hotel']['stays_total_nights'].mean()
df[lambda x: x['hotel'] == 'Resort Hotel']['stays_total_nights'].mean()

4.318547179231153

In [128]:
df

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [38]:
#2
df = df.rename(columns = {
'Hotel' : 'hotel',
'Is Canceled' : 'is_canceled',
'Lead Time' :'lead_time',
'arrival full date' : 'arrival_full_date',
'Arrival Date Year' : 'arrival_date_year',
'Arrival Date Month' : 'arrival_date_month',
'Arrival Date Week Number' : 'arrival_date_week_number',
'Arrival Date Day of Month' : 'arrival_date_day_of_month',
'Stays in Weekend nights' : 'stays_in_weekend_nights',
'Stays in week nights' :'stays_in_week_nights',
'stays total nights' :'stays_total_nights',
'Adults' : 'adults',
'Children' : 'children',
'Babies' : 'babies',
'Meal' : 'meal',
'Country' : 'country',
'Reserved Room Type' :'reserved_room_type',
'Assigned room type' :'assigned_room_type',
'customer type' :'customer_type',
'Reservation Status' :'reservation_status',
'Reservation status_date' : 'reservation_status_date'})

In [112]:
#3
df \
    .query("is_canceled == 0") \
    .groupby(by = ['country', 'reservation_status'], as_index = False) \
    .agg({'reservation_status' : 'count'}) \
    .rename(columns = {'reservation_status' : 'check-out_sum'}) \
    .sort_values('check-out_sum', ascending = False)[:5]

    country  check-out_sum
125     PRT          21071
57      GBR           9676
54      FRA           8481
50      ESP           6391
42      DEU           6069

In [122]:
#4
av_tot_nights = df \
    .groupby(by = ['hotel']) \
    .agg({'stays_total_nights' : 'mean'}) \
    .rename(columns = {'stays_total_nights' : 'average total nights'})
print(f'{av_tot_nights}')

              average total nights
hotel
City Hotel                2.978142
Resort Hotel              4.318547

In [86]:
#5
len(df[(df['reserved_room_type'] != df['assigned_room_type'])])

14917

In [141]:
#6.1.1
super_month_2016 = df[df['arrival_date_year'] == 2016] \
    .query("reservation_status == 'Check-Out'") \
    .groupby('arrival_date_month') \
    .agg({'arrival_date_month' : 'count'}) \
    .idxmax()[0]
max_value_month_2016 = df[df['arrival_date_year'] == 2016] \
    .query("reservation_status == 'Check-Out'") \
    .groupby('arrival_date_month') \
    .agg({'arrival_date_month' : 'count'}).max()[0]
#6.1.2
super_month_2017 = df[(df['arrival_date_year'] == 2017)] \
    .query("reservation_status == 'Check-Out'") \
    .groupby('arrival_date_month') \
    .agg({'arrival_date_month' : 'count'}) \
    .idxmax()[0]
max_value_month_2017 = df[df['arrival_date_year'] == 2017] \
    .query("reservation_status == 'Check-Out'") \
    .groupby('arrival_date_month') \
    .agg({'arrival_date_month' : 'count'}).max()[0]
print(f'Most success months in 2016 and 2017 \n {super_month_2016} ({max_value_month_2016} check-outs) and {super_month_2017} ({max_value_month_2017} check-outs)')

Most success months in 2016 and 2017
 October (3689 check-outs) and May (3551 check-outs)

In [134]:
df[df['arrival_date_year'] == 2016] \
    .query("reservation_status == 'Check-Out'") \
    .groupby('arrival_date_month') \
    .agg({'arrival_date_month' : 'count'})

                    arrival_date_month
arrival_date_month
April                             3367
August                            3238
December                          2462
February                          2554
January                           1691
July                              3073
June                              3196
March                             3347
May                               3563
November                          2818
October                           3689
September                         3372

In [143]:
#6.2
cancelation_city_hotel = df[(df['hotel'] == 'City Hotel')][lambda x: x['is_canceled'] == 1] \
    .groupby(['arrival_date_year', 'arrival_date_month']) \
    .agg({'arrival_date_year' : 'count'}) \
    .rename(columns = {'arrival_date_year' : 'count of cancelation'})
print(f'Booking cancelation in City Hotel type \n {cancelation_city_hotel}')

Booking cancelation in City Hotel type
                                       count of cancelation
arrival_date_year arrival_date_month
2015              August                              1232
                  December                             668
                  July                                 939
                  November                             301
                  October                             1321
                  September                           1543
2016              April                               1539
                  August                              1247
                  December                            1072
                  February                             930
                  January                              438
                  July                                1043
                  June                                1720
                  March                               1108
                  May                                 1436
                  November                            1360
                  October                             1947
                  September                           1567
2017              April                               1926
                  August                              1123
                  February                             971
                  January                             1044
                  July                                1324
                  June                                1808
                  March                               1278
                  May                                 2217

In [76]:
#7
max_mean_val = df[['adults','children', 'babies']].mean().max()
type_of_guest = df[['adults','children', 'babies']].mean().idxmax()
print(f'The most mean value among guests type {type_of_guest} is {max_mean_val}')

The most mean value among guests type adults is 1.8564033838679956

In [82]:
#8
df['total_kids'] = df['children'] + df['babies']
df.groupby('hotel').agg({'total_kids' : 'sum'})
df[['hotel', 'total_kids']].groupby('hotel').mean()

              total_kids
hotel
City Hotel      0.096311
Resort Hotel    0.142586

In [163]:
#9.1
df['has_kids'] = df['total_kids'] > 0
tmp = df.groupby(['is_canceled', 'has_kids'], as_index = False).agg({'has_kids' : 'count'})
ratio_cancel_without_child = (tmp['has_kids'].loc[2] / (tmp['has_kids'].loc[0] + tmp['has_kids'].loc[2])) * 100
ratio_cancel_with_child = (tmp['has_kids'].loc[3] / (tmp['has_kids'].loc[1] + tmp['has_kids'].loc[3])) * 100
print(f'\nRatio of cancelation without children {ratio_cancel_without_child}\n')
print(f'Ratio of cancelation with children {ratio_cancel_with_child}\n')

Ratio of cancelation without children 37.221283323338604

Ratio of cancelation with children 34.92284612087441